html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

body {
    zoom: 1.2
}

.cell-wrap-text {
    white-space: normal !important;
}

.ag-theme-balham .ag-cell {
    line-height: 15px;
    padding-left: 2px;
    padding-right: 2px;
    text-overflow: clip;
}

.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
    line-height: inherit;
    padding-left: 2px;
    padding-right: 2px;
}

.ag-theme-balham .ag-header-cell-label {
    display: flex;
    float: left;
    height: 100%;
    width: calc(100% - 1px);
}

.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
    text-overflow: clip;
    font-size: 10px;
    line-height: 11px;
    font-weight: normal;
    color: olive;
    white-space: normal;
}

/* немного потемнее текст */

.btn-outline-secondary {
    color: #94999c;
}

/* цвета текста для ячеек, паллет, товара и т.п.*/

.text-color-red {
    color: red
}

.text-color-subconto-cell {
    color: MEDIUMVIOLETRED
}

.text-color-subconto-pallete {
    color: seagreen
}

.text-color-subconto-tovar {
    color: black
}

.text-color-subconto-part {
    color: forestgreen;
}

.text-color-subconto-box {
    color: blue
}

.text-color-kol {
    color: teal
}

/* фоновые цвета заданий по типам*/

.back-color-pik {
    background-color: AZURE;
}

/* navbar-icon-top*/

.navbar-icon-top .navbar-nav .nav-link {
    font-size: 0.9em;
}

.navbar-icon-top .navbar-nav .nav-link>i {
    position: relative;
    width: 28px;
    font-size: 1.75em;
}

.navbar-icon-top .navbar-nav .nav-link>i>.badge {
    font-size: 0.6rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link>i {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link>i>.badge {
    top: -10px;
}

.navbar-icon-top.navbar-expand .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 55px;
    vertical-align: middle;
    padding: 0;
    padding-left: 0.5em;
}

.navbar-icon-top.navbar-expand .navbar-nav .nav-link>i {
    display: block;
    /*width: 48px;*/
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
}

.navbar-icon-top.navbar-expand .navbar-nav .nav-link>i>.badge {
    top: -5px;
}